<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.tinypng</string>
	<key>connections</key>
	<dict>
		<key>392049EC-35AB-4C54-8A20-5565FBF67B32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C7428D-06C2-4B70-8C70-8348AE71B137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72DE7DEE-B771-41EA-9A7C-F10F4F7A5DC5</key>
		<array/>
		<key>7EA1CA9C-97FC-4B89-999A-7CFE3D8CB0AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C7428D-06C2-4B70-8C70-8348AE71B137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F44CFA0-9821-4998-B57A-CBD196BD069B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C7428D-06C2-4B70-8C70-8348AE71B137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EDA38AD-8C38-42CA-A270-CFE7AEC0655C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4256C3E-6831-43F5-805C-F667A3D7E726</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C22E0CBD-0683-4E3A-80E5-6532D8E5440E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D6432C7-2943-4DB6-A25F-B0AC57D3C6F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2402FAA7-E693-486D-84EA-BF27BF8E4AFD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6D56D157-3EBC-41F6-A030-1C9A9E4490DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB42BCC1-C05C-4B82-821E-BF371D852F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F44CFA0-9821-4998-B57A-CBD196BD069B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4256C3E-6831-43F5-805C-F667A3D7E726</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72DE7DEE-B771-41EA-9A7C-F10F4F7A5DC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C22E0CBD-0683-4E3A-80E5-6532D8E5440E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2C7428D-06C2-4B70-8C70-8348AE71B137</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EDA38AD-8C38-42CA-A270-CFE7AEC0655C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD60CC76-3DD5-45D7-A184-5A5580E0790F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C7428D-06C2-4B70-8C70-8348AE71B137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Compress images via TinyPNG</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TinyPNG</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>TinyPNG Compression</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>7EA1CA9C-97FC-4B89-999A-7CFE3D8CB0AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Constants
readonly backup_dir="${backup_originals}/$(date +'%Y.%m.%d.%H.%M.%S')"

# Helpers
function get_json_key {
  local -r json="${1}" # JSON string
  local -r key="${2}" # Of the form ['first']['second'] or .first.second

  local -r result="$(osascript -l 'JavaScript' -e "function run(argv) { return JSON.parse(argv[0])${key} }" "${json}")"

  [[ -n "${key}" &amp;&amp; -n "${result}" ]] || return 1 # If no valid result

  echo -n "${result}"
}

function error {
  echo "${1}" &gt;&amp;2 # For Alfred's debugger
  echo "error|${1}" # For the notification and sound
  exit 1
}

# Main
# Abort if backups are desirable but cannot create directory
if [[ -n "${backup_originals}" ]] &amp;&amp; ! mkdir -p "${backup_dir}"; then
  error "Could not create backups directory at ${backup_originals}!"
fi

# Loop over images
for image in "${@}"; do
  json_response="$(curl --silent --user api:"${api_key}" --data-binary @"${image}" -i 'https://api.tinify.com/shrink' | tail -1)"

  # On failed connection
  if [[ -z "${json_response}" ]]; then
    error 'Unable to connect to TinyPNG'
  fi

  # On error
  if [[ -n "$(get_json_key "${json_response}" '.error')" ]]; then
    error "$(get_json_key "${json_response}" '.message')"
  fi

  # Backup image
  if [[ -d "${backup_dir}" ]]; then
    cp "${image}" "${backup_dir}"
  fi

  # Save result
  compressed_url="$(get_json_key "${json_response}" '.output.url')"
  curl --silent "${compressed_url}" --output "${image}"
done

echo 'success|Finished compressing'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2C7428D-06C2-4B70-8C70-8348AE71B137</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Filter for images to compress</string>
				<key>title</key>
				<string>TinyPNG Compression</string>
				<key>types</key>
				<array>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>392049EC-35AB-4C54-8A20-5565FBF67B32</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split2}</string>
				<key>title</key>
				<string>TinyPNG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>72DE7DEE-B771-41EA-9A7C-F10F4F7A5DC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:notify}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>Do not notify</string>
						<key>uid</key>
						<string>3052F81B-0ECE-4815-AFAE-DCDD42361205</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Notify</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9EDA38AD-8C38-42CA-A270-CFE7AEC0655C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E4256C3E-6831-43F5-805C-F667A3D7E726</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Glass</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>4D6432C7-2943-4DB6-A25F-B0AC57D3C6F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>compress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FD60CC76-3DD5-45D7-A184-5A5580E0790F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>Success</string>
						<key>uid</key>
						<string>2402FAA7-E693-486D-84EA-BF27BF8E4AFD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C22E0CBD-0683-4E3A-80E5-6532D8E5440E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>silent_compress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CB42BCC1-C05C-4B82-821E-BF371D852F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>6D56D157-3EBC-41F6-A030-1C9A9E4490DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>notify</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F44CFA0-9821-4998-B57A-CBD196BD069B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Compress PNG, JPEG, and WebP images with [TinyPNG](https://tinypng.com/) via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action for TinyPNG Compression](images/about/fileaction.png)

Alternatively, find images with the Search Keyword (default: `tinypng`).

![Alfred search for tinypng transparenc](images/about/filefilter.png)</string>
	<key>uidata</key>
	<dict>
		<key>392049EC-35AB-4C54-8A20-5565FBF67B32</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>4D6432C7-2943-4DB6-A25F-B0AC57D3C6F2</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6D56D157-3EBC-41F6-A030-1C9A9E4490DF</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>72DE7DEE-B771-41EA-9A7C-F10F4F7A5DC5</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7EA1CA9C-97FC-4B89-999A-7CFE3D8CB0AE</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>8F44CFA0-9821-4998-B57A-CBD196BD069B</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>9EDA38AD-8C38-42CA-A270-CFE7AEC0655C</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>C22E0CBD-0683-4E3A-80E5-6532D8E5440E</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>CB42BCC1-C05C-4B82-821E-BF371D852F7A</key>
		<dict>
			<key>note</key>
			<string>Compress but do not show notification</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>E4256C3E-6831-43F5-805C-F667A3D7E726</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>F2C7428D-06C2-4B70-8C70-8348AE71B137</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>FD60CC76-3DD5-45D7-A184-5A5580E0790F</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tinypng</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/tmp/com.alfredapp.vitor.tinypng.backups</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>The default backup location is deleted when macOS restarts.</string>
			<key>label</key>
			<string>Backup Originals</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>backup_originals</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Request one at https://tinypng.com/developers</string>
			<key>label</key>
			<string>API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.6</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/tinypng-workflow/</string>
</dict>
</plist>
